* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

form {
    margin: 40px;
}

.contactImg {
    width: 45%;
    float: right;
    margin-top: 50px;
    padding-left: 0px;
}

form input, form textarea {
    margin-top: 30px;
    display: block;
}

#name, #email, #password, #password2, textarea {
    width: 45%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #9DAB86;
    outline: none;
}

textarea {
    height: 300px;
}

#submit {
    width: 45%;
    height: 50px;
    font-size: 25px;
    background-color: #CC7351;
    color: white;
    border: none;
}

#submit:hover {
    background-color: #9DAB86;
    cursor: pointer;
}

span {
    display: none;
    margin-left: 400px;
    padding-top: 10px;
    color: #CC7351;
    font-weight: bolder;
}

.result {
    width: 45%;
    height: 100px;
    font-weight: bolder;
    color: #CC7351;
    font-size: 20px;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 400px;
}

.output {
    width: 45%;
    height: 100px;
    font-weight: bolder;
    color: #CC7351;
    font-size: 20px;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 400px;
    display: none;
}